* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img {
    margin-top: -50px;
    width: 300px;
    margin-bottom: -10px;
}

.dice-container {
    position: relative;
    display: inline-block;
}

.main-title {
    position: absolute;
    top: 70%;
    /* centraliza verticalmente */
    left: 50%;
    /* centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* corrige o ponto de origem */
    font-size: 50px;
    font-weight: 700;
    color: #AEC346;
    text-align: center;
    text-shadow: 0px 0px 10px #aec34650;
    white-space: nowrap;
    pointer-events: none;
    /* permite clicar na imagem abaixo se necessário */
}



p {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF
}

.inputs-container {
    display: flex;
    gap: 10px;
}

input {
    width: 150px;
    height: 60px;
    border: #FFFFFF40;
    border-radius: 14px;
    border-width: 1px;
    background: #FFFFFF40;
    font-weight: 500;
    font-size: 35px;
    color: #FFFFFF;
    padding-left: 15px;
}

/*Remove os botões de acesso dos inputs [Garantir que sejam do tipo type number*/
input[type="number"] {
  -moz-appearance: textfield;   /* Firefox */
  -webkit-appearance: none;     /* Chrome, Safari, Edge (antigos) */
  appearance: none;             /* Fallback “sem prefixo” */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

button {
    width: 250px;
    height: 68px;
    top: 858px;
    left: 849px;
    background: #AEC346;
    border: #AEC346;
    border-radius: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 0px 40px -15px #AEC346;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

.result {
    font-size: 30px;
    font-weight: 700;
    color: #AEC346;
    margin-top: 20px;
    margin-bottom: 35px;
    transition: all 0.5s ease;
    text-shadow: 0px 0px 7px #aec34650;
}

.overlay {
    display: none;
    /* começa invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.countdown {
    font-size: 120px;
    font-weight: bold;
    color: #ffffff;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

canvas.confetti-canvas {
    position: fixed !important;
    pointer-events: none;
    z-index: 9999 !important;
}

.countdown {
    font-size: 250px;
    font-weight: bold;
    color: #AEC346;
    text-shadow: 0px 0px 10px #aec34650;
}

@keyframes zoomFade {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
}

.countdown-content {
    text-align: center;
}

.sorteado-text {
    font-size: 78px;
    font-weight: bold;
    color: #AEC346;
    text-shadow: 0px 0px 10px #aec34650;
    margin-top: 30px;
    display: none;
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ultimo-numero {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 30px;
    font-weight: 400;
}

.numero-destaque {
    font-size: 250px;
    color: #AEC346;
}

.copy {
    color: #ffffff80;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

@media (max-width: 600px) {

    .linha1,
    .linha2 {
        display: block;
    }

    .main-title {
        height: 160;
        font-size: 40px;
    }

    img {
        width: 260px;
    }

    p {
        font-size: 20px;
    }

    input {
        width: 150px;
        height: 60px;
        font-size: 25px;
    }

    button {
        width: 250px;
        height: 70px;
        font-size: 35px;
    }

    .ultimo-numero {
        font-size: 18px;
    }

    .numero-destaque {
        font-size: 150px;
        color: #AEC346;
    }

    .sorteado-text {
        font-size: 48px;
    }

    .copy {
        margin-top: 20px;
    }

    .result {
    font-size: 20px;
    text-align: center;
    width: 300px;
 
}
}
